body{
	margin:0 ;	
	padding:0;	
	font-family: "STHeitiSC-Light";
	font-size:100%;
}
p{
	font-family: STHeitiSC-Light;
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 0px;
	line-height: 16px;
}
label{
	font-family: STHeitiSC-Light;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.15px;
}
h1{
	font-family: STHeitiSC-Light;
	font-size: 16px;
	color: #4A4A4A;
	letter-spacing: 0px;	
}
a{
	text-decoration:none;
	font-family: STHeitiSC-Light;font-size: 12px;color: #213479;
}
hr{
	background: #FFFFFF;
}
input{
	-webkit-appearance:none;
}
select{
	-webkit-appearance:none;
}
img {
max-width: 100%;
}
@media screen and (min-width:1200px) {
		
	.header{width: 100%;height: auto;float: left;}
	.header .header-top{background-color: black;width: 100%;height: 40px;}
	.header .header-top .con{width: 1200px;margin: 0 auto;height: 40px;}
	.header .header-top .con label{float: left;line-height: 40px;}
	.header .header-top .con .label1{margin-left: 295px;}
	.header .header-bot{width: 100%;float: left;height: 690px;background-color: #6495ED;background: url(../img/header.png) center center !important;}
	.header .header-bot .con{width: 1200px;margin: 0 auto;height: 80px;}
	.header .header-bot .con .logo{width: 450px;float: left;height: 80px;line-height: 80px;}
	.header .header-bot .con .logo img{margin-top: 10px;}
	.header .header-bot .con .menu{width: 750px;float: left;height: 80px;}
	.header .header-bot .con .menu ul{height: 40px;border-bottom: 1px solid #ffffff;margin-top: 25px;list-style-type: none;}
	.header .header-bot .con .menu ul li{float: left;margin-left: 20px;}
	.header .header-bot .con .menu ul li a{font-family: STHeitiSC-Light;font-size: 18px;color: rgba(255,255,255,0.50);letter-spacing: 0.19px;}	
	.header .header-bot .con .menu ul li span{color: white;margin-left: 20px;}
	.header .header-bot .con .menu ul li a:hover{color: white;cursor: pointer;}	
	.header .header-bot .banner{width: 100%;margin: 0 auto;height: auto;}
	.header .header-bot .wenben{width: 1200px;margin: 0 auto;height: 100px;}
	.header .header-bot .wenben label{line-height: 100px;};
	
	#pinpai{}
	.pinpai{width: 100%;height: 1173px;float: left;background: url(../img/pinpai-background.png) center center !important;}
	.pinpai .pinpai-con{width: 1200px;height: 900px;margin: 0 auto;}
	.pinpai .pinpai-con .content{margin-top: 50px;}
	.pinpai .pinpai-con .content-top{width: 1100px;margin: 0 auto;}
	.pinpai .pinpai-con .content-top label{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #58627C;letter-spacing: -0.06px;line-height: 29.12px;}
	.pinpai .pinpai-con .content-bot{height: 550px;margin-top: 50px;border-radius: 8px;background-color: #ffffff;}
	.pinpai .pinpai-con .content-bot .bot1{width: 239px;height: 550px;border-top-left-radius: 8px;border-bottom-left-radius: 8px;text-align: center;border-right: 1px solid #979797;float: left;}
	.pinpai .pinpai-con .content-bot .bot2{width: 239px;height: 550px;float: left;border-right: 1px solid #979797;text-align: center;}
	.pinpai .pinpai-con .content-bot .bot3{width: 239px;height: 550px;float: left;border-right: 1px solid #979797;text-align: center;}
	.pinpai .pinpai-con .content-bot .bot4{width: 239px;height: 550px;float: left;border-right: 1px solid #979797;text-align: center;}
	.pinpai .pinpai-con .content-bot .bot5{width: 239px;height: 550px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;float: left;text-align: center;}	
	.pinpai .pinpai-con .content-bot .bot-img{margin-top: 30px;height: 120px;}
	.pinpai .pinpai-con .content-bot .bot-img img{padding: 10px;}
	.pinpai .pinpai-con .content-bot .bot-img img:hover{animation: swing 0.6s;}	
	.pinpai .pinpai-con .content-bot .bot-wenben{width: 170px;margin: 0 auto;margin-top: 20px;height: 300px;}
	.pinpai .pinpai-con .content-bot .bot-wenben label{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #58627C;letter-spacing: -0.06px;}
	.pinpai .pinpai-con .content-bot .bot-wenben p{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #58627C;letter-spacing: -0.06px;line-height: 29.12px}
	.pinpai .pinpai-con .content-bot .bot-btn{width: 239px;height: 50px;}
	.pinpai .pinpai-con .content-bot .bot-btn input{width: 163px;height: 51px;border: 0px;background-image: radial-gradient(50% 150%, #FFDBA2 50%, #FFDA9F 100%);box-shadow: 0px 2px 4px 0px #D8D8D8;border-radius: 4px; font-family: NotoSansCJKsc-Regular;font-size: 18px;color: #B25F4B;letter-spacing: -0.06px;}
	.pinpai .pinpai-con .content-bot .bot-btn input:hover{background-image: radial-gradient(50% 150%, #FFD081 50%, #FFC165 100%);box-shadow: 0px 2px 4px 0px #D8D8D8;border-radius: 4px;}
	
		
	
	.guanyu{width: 100%;height: 540px;float: left;}
	.guanyu .guanyu-con{width: 1200px;height: 500px;margin: auto;margin-top: -180px;}
	.guanyu .guanyu-con .content{width: 1200px;float: left;margin-top: 50px;}
	.guanyu .guanyu-con .content .content-left{float: left;width: 550px;}
	.guanyu .guanyu-con .content .content-left img{}
	.guanyu .guanyu-con .content .content-right{float: left;width: 650px;height: 500px;}
	.guanyu .guanyu-con .content .content-right .right-top{border-bottom: 1px solid #979797;height: 250px;float: left;width: 650px;}
	.guanyu .guanyu-con .content .content-right .right-top img{display: none;}
	.guanyu .guanyu-con .content .content-right .right-top .cd-top1{float: left;text-align: center;}
	.guanyu .guanyu-con .content .content-right .right-top .cd-top1 label{font-family: NotoSansCJKsc-Medium;font-size: 18px;color: #777677;letter-spacing: -0.06px;line-height: 29.12px;}
	.guanyu .guanyu-con .content .content-right .right-top .cd-top1 p{font-family: NotoSansCJKsc-Light;font-size: 16px;color: #58627C;letter-spacing: -0.06px;line-height: 29.92px;}
	.guanyu .guanyu-con .content .content-right .right-bot{width: 650px;margin-top: 40px;float: left;margin-top: 30px;}
	.guanyu .guanyu-con .content .content-right .right-bot span{color: #63B8FF;font-size: 25px;margin-bottom: -18px;display: block;}
	
	.youshi{width: 100%;height: 900px;margin: 0 auto;float: left;background: #F5F7FD;}
	.youshi .youshi-con{width: 1200px;height: 900px;margin: auto;}
	.youshi .youshi-con .content{margin-top: 40px;}
	.youshi .youshi-con .content .content-top{height: auto;float: left;width: 1200px;}
	.youshi .youshi-con .content .content-top .cc-div1{background: url(../img/youshi1.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-top .cc-div1:hover{animation: qiehuan1 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}	
	@keyframes qiehuan1{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis1.png) center center !important;-webkit-transform:rotateY(0deg); }
	}
	.youshi .youshi-con .content .content-top .cc-div2{background: url(../img/youshi2.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-top .cc-div2:hover{animation: qiehuan1 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan2{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis2.png) center center !important;-webkit-transform:rotateY(0deg); }
	}
	.youshi .youshi-con .content .content-top .cc-div3{background: url(../img/youshi3.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-top .cc-div3:hover{animation: qiehuan3 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan3{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis3.png) center center !important;-webkit-transform:rotateY(0deg); }
	}
	.youshi .youshi-con .content .content-top .cc-div4{background: url(../img/youshi4.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-top .cc-div4:hover{animation: qiehuan4 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan4{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis4.png) center center !important;-webkit-transform:rotateY(0deg); }
	}	
	.youshi .youshi-con .content .content-bot{margin-top: 10px;height: auto;float: left;width: 1200px;}
	.youshi .youshi-con .content .content-bot .cc-div5{background: url(../img/youshi5.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-bot .cc-div5:hover{animation: qiehuan5 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan5{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis5.png) center center !important;-webkit-transform:rotateY(0deg); }
	}	
	.youshi .youshi-con .content .content-bot .cc-div6{background: url(../img/youshi6.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-bot .cc-div6:hover{animation: qiehuan6 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan6{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis6.png) center center !important;-webkit-transform:rotateY(0deg); }
	}	
	.youshi .youshi-con .content .content-bot .cc-div7{background: url(../img/youshi7.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-bot .cc-div7:hover{animation: qiehuan7 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan7{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis7.png) center center !important;-webkit-transform:rotateY(0deg); }
	}	
	.youshi .youshi-con .content .content-bot .cc-div8{background: url(../img/youshi8.png) center center !important;width: 268px;height: 315px;text-align: center;float: left;margin-left: 25px;}
	.youshi .youshi-con .content .content-bot .cc-div8:hover{animation: qiehuan8 1s;animation-fill-mode:forwards;-webkit-transform-style:preserve-3d;}
	@keyframes qiehuan8{
		0%{-webkit-transform:rotateY(180deg);}
	
		100%{background: url(../img/youshis8.png) center center !important;-webkit-transform:rotateY(0deg); }
	}	
		
	.zixun{width: 100%;height: 700px;margin: 0 auto;float: left;background: url(../img/xinwenbg.png) center center !important;}
	.zixun .zixun-con{width: 1200px;height: 700px;margin: auto;}
	.zixun .zixun-con .content{width: 1200px;height: 600px;margin-top: 40px;}
	.zixun .zixun-con .content .content-left{width: 580px;float: left;height: 435px;background: url(../img/zixun1.png);position:relative;}
	.zixun .zixun-con .content .content-left .left-wenzi{width: 580px;height: 50px;background: black;opacity:0.7;position:absolute;z-index: 10px;text-align: center;bottom:0px;}
	.zixun .zixun-con .content .content-left .left-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-left .left-wenzi p{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: -0.02px;line-height: 22.62px;display: none;width: 500px;margin-left: 30px;}
	.zixun .zixun-con .content .content-left:hover>.left-wenzi{animation: change1 1.5s;animation-fill-mode:forwards;}
	.zixun .zixun-con .content .content-left:hover> .left-wenzi p{display: block;}
	@keyframes change1{
        20% {width: 580px;height: 50px;}
        100% {width: 580px;height: 435px;}
    }

	.zixun .zixun-con .content .content-right{width: 620px;float: left;height: 435px;}
	.zixun .zixun-con .content .content-right .right-top{float: left;width: 620px;}
	.zixun .zixun-con .content .content-right .right-top .top-left{width:300px;height:210px;background: url(../img/zixun2.png);float: left;margin-left: 10px;position:relative;}
	.zixun .zixun-con .content .content-right .right-top .top-left .left-wenzi{width: 300px;height: 50px;background: black;opacity:0.7;position:absolute;z-index: 10px;text-align: center;bottom:0px;}
	.zixun .zixun-con .content .content-right .right-top .top-left .left-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-right .right-top .top-left .left-wenzi p{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: -0.02px;line-height: 22.62px;display: none;width: 300px;}
	.zixun .zixun-con .content .content-right .right-top .top-left:hover>.left-wenzi{animation: change2 1.5s;animation-fill-mode:forwards;}
	.zixun .zixun-con .content .content-right .right-top .top-left:hover>.left-wenzi p{display: block;}
    @keyframes change2{
        20% {width: 300px;height: 50px;}
        100% {width: 300px;height: 210px;}
    }
	.zixun .zixun-con .content .content-right .right-top .top-left  .left-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-right .right-top .top-right{width:300px;height:210px;background: url(../img/zixun3.png);float: left;margin-left: 10px;position:relative;}
	.zixun .zixun-con .content .content-right .right-top .top-right:Hover>.right-wenzi{animation: change3 1.5s;animation-fill-mode:forwards;}
	.zixun .zixun-con .content .content-right .right-top .top-right:Hover>.right-wenzi p{display: block;}
	 @keyframes change3{
        20% {width: 300px;height: 50px;}
        100% {width: 300px;height: 210px;}
    }
	.zixun .zixun-con .content .content-right .right-top .top-right .right-wenzi{width: 300px;height: 50px;background: black;opacity:0.7;position:absolute;z-index: 10px;text-align: center;bottom:0px;}
	.zixun .zixun-con .content .content-right .right-top .top-right .right-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-right .right-top .top-right .right-wenzi p{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: -0.02px;line-height: 22.62px;display: none;width: 300px;}
	.zixun .zixun-con .content .content-right .right-bot{margin-top: 15px;float: left;}
	.zixun .zixun-con .content .content-right .right-bot .bot-left{width:300px;height:210px;background: url(../img/zixun4.png);float: left;margin-left: 10px;position:relative;}
	.zixun .zixun-con .content .content-right .right-bot .bot-left:Hover>.left-wenzi{animation: change4 1.5s;animation-fill-mode:forwards;}
	.zixun .zixun-con .content .content-right .right-bot .bot-left:Hover>.left-wenzi p{display: block;}
		 @keyframes change4{
        20% {width: 300px;height: 50px;}
        100% {width: 300px;height: 210px;}
    }
	.zixun .zixun-con .content .content-right .right-bot .bot-left .left-wenzi{width: 300px;height: 50px;background: black;opacity:0.7;position:absolute;z-index: 10px;text-align: center;bottom:0px;}
	.zixun .zixun-con .content .content-right .right-bot .bot-left .left-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-right .right-bot .bot-left .left-wenzi p{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: -0.02px;line-height: 22.62px;display: none;width: 300px;}
	.zixun .zixun-con .content .content-right .right-bot .bot-right{width:300px;height:210px;background: url(../img/zixun5.png);float: left;margin-left: 10px;position:relative;}
	.zixun .zixun-con .content .content-right .right-bot .bot-right:Hover>.right-wenzi{animation: change5 1.5s;animation-fill-mode:forwards;}
	.zixun .zixun-con .content .content-right .right-bot .bot-right:Hover>.right-wenzi p{display: block;}
	@keyframes change5{
        20% {width: 300px;height: 50px;}
        100% {width: 300px;height: 210px;}
    }
	.zixun .zixun-con .content .content-right .right-bot .bot-right .right-wenzi{width: 300px;height: 50px;background: black;opacity:0.7;position:absolute;z-index: 10px;text-align: center;bottom:0px;}
	.zixun .zixun-con .content .content-right .right-bot .bot-right .right-wenzi a{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;line-height: 50px;}
	.zixun .zixun-con .content .content-right .right-bot .bot-right .right-wenzi p{font-family: NotoSansCJKsc-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: -0.02px;line-height: 22.62px;display: none;width: 300px;}
	
	
	
	.xiaoqu{width: 100%;height: 700px;margin: 0 auto;float: left;background: #F5F7FD;}
	.xiaoqu .xiaoqu-con{width: 1200px;height: 700px;margin: 0 auto;}
	.xiaoqu .xiaoqu-con .content{width: 1200px;float: left;}
	.xiaoqu .xiaoqu-con .content .content-top{text-align: center;height: auto;margin-top: 40px;}
	.xiaoqu .xiaoqu-con .content .content-top label{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #4A4A4A;letter-spacing: -0.06px;}
	.xiaoqu .xiaoqu-con .content .content-top .p{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #777677;letter-spacing: -0.06px;line-height: 29.12px;}
	.xiaoqu .xiaoqu-con .content .content-bot{width: 1200px;float: left;height: 400px;}
	.content-bot .swiper-container {width: 1200px;height: 350px;margin-top: 30px;                  }  	
    .content-bot .swiper-slide {background-position: center;background-size: cover;width: 300px;height: 300px;}
    .content-bot .swiper-slide .text{position: absolute;z-index: 5px;bottom:-30px;font-family: NotoSansCJKsc-Light;font-size: 16px;color: #4A4A4A;letter-spacing: -0.05px;padding-left: 35px;}

	
	.anli{width: 100%;height: 800px;margin: 0 auto;float: left;}
	.anli .anli-con{width: 1200px;height: 800px;margin: auto;}
	.anli .anli-con .content{width: 1200px;margin: 0 auto;height: auto;margin-top: 40px;}
	.anli .anli-con .content .con-top{width: 1200px;text-align: center;}
	.anli .anli-con .content .con-top label{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #777677;letter-spacing: -0.06px;line-height: 29.12px;}
	.anli .anli-con .content .con-bot{width: 1200px;height: 500px;margin-top: 40px;}
	.anli .anli-con .content .con-bot .tou{width: 1200px;height: 500px;text-align: center;}
	.anli .anli-con .content .con-bot .tou h1{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #4A4A4A;letter-spacing: -0.06px;}		
	.anli .anli-con .content .con-bot .tou .tou-left{float: left;width: 595px;height: 500px;}
	.anli .anli-con .content .con-bot .tou .tou-right{float: left;width: 530px;height: 455px;background: #FFFFFF;border: 1px solid #979797;border-radius: 4px;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-jieshao{width: 400px;text-align: left;margin-left: 50px;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-jieshao p{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #4A4A4A;letter-spacing: -0.06px;width: 450px;line-height: 20px;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-miaoshu{width: 450px;text-align: left;margin-left: 50px;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-miaoshu label{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #777677;letter-spacing: -0.06px;line-height: 29.12px;float: left;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-btn{width: 530px;text-align: center;margin-top: 30px;float: left;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-btn input{width: 163px;height: 51px;border: 0px;background-image: radial-gradient(50% 150%, #FFDBA2 50%, #FFDA9F 100%);box-shadow: 0px 2px 4px 0px #D8D8D8;border-radius: 4px; font-family: NotoSansCJKsc-Regular;font-size: 18px;color: #B25F4B;letter-spacing: -0.06px;}
	.anli .anli-con .content .con-bot .tou .tou-right .right-btn input:hover{background-image: radial-gradient(50% 150%, #FFD081 50%, #FFC165 100%);box-shadow: 0px 2px 4px 0px #D8D8D8;border-radius: 4px;}
	
	
	
	.zizhi{width: 100%;height: auto;margin: 0 auto;float: left;background: #F5F7FD;}
	.zizhi .zizhi-con{width: 1200px;height: 500px;margin: auto;}
	.zizhi .zizhi-con .content{width: 1200px;margin: 0 auto;float: left;height: auto;margin-top: 40px;}
	.zizhi .zizhi-con .content .content-top{width: 1200px;margin: 0 auto;text-align: center;height: auto;}
	.zizhi .zizhi-con .content .content-top label{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #4A4A4A;letter-spacing: -0.06px;}
	.zizhi .zizhi-con .content .content-bot{width: 1200px;margin: 0 auto;height: auto;margin-top: 50px;text-align: center;}
	.zizhi .zizhi-con .content .content-bot img{padding: 8px;cursor: pointer;}
	
	.zizhi .zizhi-con .content .content-dis{width: 1200px;margin: 0 auto;height: auto;display: none;}
	.zizhi .zizhi-con .content .content-dis img{padding: 9px;width: 278px;height: 195px;}
	.zizhi .zizhi-con .content .content-dis .shouqi{width: 30px;height: 20px;margin-left: 590px;cursor: pointer;}
	
	
	.hezuo{width: 100%;height: auto;margin: 0 auto;float: left;}
	.hezuo .hezuo-con{width: 1200px;height: 550px;margin: auto;}
	.hezuo .hezuo-con .content{width: 1200px;height: auto;margin: 0 auto;margin-top: 40px;float: left;}
	.hezuo .hezuo-con .content .content-top{width: 1200px;float: left;text-align: center;}
	.hezuo .hezuo-con .content .content-top label{font-family: NotoSansCJKsc-Light;font-size: 20px;color: #4A4A4A;letter-spacing: -0.06px;}
	.hezuo .hezuo-con .content .content-bot{width: 1200px;float: left;margin-top: 40px;}
	.hezuo .hezuo-con .content .content-bot img{padding-left: 35px;margin-top: 5px;}
	
	.lianxi{width: 100%;height: auto;margin: 0 auto;float: left;background: #1C1F48;}
	.lianxi .lianxi-con{width: 1200px;height: auto;margin: auto;}
	.lianxi .lianxi-con .content{width: 1200px;margin: 0 auto;float: left;height: auto;margin-top: 40px;}
	.lianxi .lianxi-con .content .content-top{text-align: center;}
	.lianxi .lianxi-con .content .content-top label{}
	.lianxi .lianxi-con .content .content-bot{width: 1200px;margin: 0 auto;float: left;height: auto;margin-top: 40px;}
	.lianxi .lianxi-con .content .content-bot .bot-left{width: 320px;float: left;height: 300px;text-align: left;}
	.lianxi .lianxi-con .content .content-bot .bot-left ul{list-style-type: none;text-align: left;margin-left: -35px;}
	.lianxi .lianxi-con .content .content-bot .bot-left ul li{height: 50px;line-height: 50px;}
	.lianxi .lianxi-con .content .content-bot .bot-left label{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #FFFFFF;margin-left: 15px;}
	.lianxi .lianxi-con .content .content-bot .bot-right{width: 880px;float: left;height: 300px;margin-top: 20px;}
	.lianxi .lianxi-con .content .content-bot .bot-right .rig-con{width: 150px;height: 300px;float: left;margin-left: 15px;}
	.lianxi .lianxi-con .content .content-bot .bot-right .rig-con .img{margin-top: 40px;}
	.lianxi .lianxi-con .content .content-bot .bot-right .rig-con p{font-family: NotoSansCJKsc-Light;font-size: 18px;color: #FFFFFF;}
	
	
	
	.biaoti{background: url(../img/biaoti.png) center center !important;width: 464px;height: 135px;margin: 0 auto;text-align: center;margin-top: 30px;}	
	.biaoti h1{font-family: NotoSansCJKsc-Medium;font-size: 35px;color: #58627C;letter-spacing: -0.05px;padding-top: 25px;}
	.biaoti p{font-family: NotoSansCJKsc-Regular;font-size: 22.25px;color: #58627C;letter-spacing: -0.04px;line-height: 36px;margin-top: -15px;}
	
	.biaoti1{background: url(../img/biaoti1.png) center center !important;width: 464px;height: 135px;margin: 0 auto;text-align: center;margin-top: 30px;}	
	.biaoti1 h1{font-family: NotoSansCJKsc-Medium;font-size: 35px;color: #FFFFFF;letter-spacing: -0.05px;padding-top: 25px;}
	.biaoti1 p{font-family: NotoSansCJKsc-Regular;font-size: 22.25px;color: #FFFFFF;letter-spacing: -0.04px;line-height: 36px;margin-top: -15px;}
	
	@keyframes swing {
	  20% {
	    -webkit-transform: rotate3d(0, 0, 1, 15deg);
	    transform: rotate3d(0, 0, 1, 15deg);
	  }
	
	  40% {
	    -webkit-transform: rotate3d(0, 0, 1, -10deg);
	    transform: rotate3d(0, 0, 1, -10deg);
	  }
	
	  60% {
	    -webkit-transform: rotate3d(0, 0, 1, 5deg);
	    transform: rotate3d(0, 0, 1, 5deg);
	  }
	
	  80% {
	    -webkit-transform: rotate3d(0, 0, 1, -5deg);
	    transform: rotate3d(0, 0, 1, -5deg);
	  }
	
	  100% {
	    -webkit-transform: rotate3d(0, 0, 1, 0deg);
	    transform: rotate3d(0, 0, 1, 0deg);
	  }
	}
	
	.footer{width: 100%;height:40px;background-color: black;float: left;}
	.footer .footer-con{width: 1200px;height: 40px;text-align: center;margin: 0 auto;}
	.footer .footer-con label{line-height: 40px;}

}
